
body{

}

/* //////////////////////////End the header////////////////////////////// */
/*/////////////////// section- one/////////////////// */
.reveal{
    position: relative;
    transform: translateY(100px);
   opacity: 0;
transition: all 0.9s;
}
.active{
transform: translateY(0px);
 opacity: 1;

}

.section-one{
background-image: linear-gradient(rgba(0, 0, 0, 0.649),rgba(0, 0, 0, 0.666)),url(/images/master\ peace.webp);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-clip: border-box;
height: 500px;
  display: flex;
align-items: center;
justify-content: center;

}
#about{
  
    font-size: 50px;
    color: white;
text-align: center; 
}

.section-two{
    display: grid;
    grid-template-columns: auto auto;
    height: 700px;
    margin-top: 70px;
}
.section-two-partone{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    
}
.section-two-partone p{
 width:400px;
    height:400px;
          font-size: 20px;
          font-weight: bold;

    
}
.section-two-partone .image img{
    
width:400px;
height:250px;
}
.section-two-parttwo{
    grid-column: 1/3;
    display: flex;
   justify-content: space-around;
}
.section-two-parttwo p{
    width:400px;
      height:400px;
      font-size: 20px;
                font-weight: bold;

}
.section-two-parttwo img{
    width:400px;
      height:250px;
}

/* ///////footer////////// */


.section-four { 
    background-color: black;
    height:250px;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    color: white;
    justify-content:space-around;
    padding-top: 30px;
    letter-spacing: 0.5px;
    line-height: 30px;
     font-size:18px;
}
.left-side-footer{
      padding-top: 70px;

     color: #fac710;
  font-size: 18px;
  text-align: center;
  /* padding-top: 70px; */
  

}

 .right-side-footer {
    text-align: start;

padding-left: 100px;
 }
 #link-footer{
   font-size: 22px;
    padding-bottom: 20px;
        color: #fac710;

 }
 .links-footer{
    list-style: none;
 }
 .link-footer a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        

 }
 .link-footer a:hover{
    color: #fac710;
    transition: 0.4s;
 }
.sections-footer{
    /* padding-top: 10px; */
    /* padding-left: 100px; */
    color: #fac710;
 
}
.section-footer{
   list-style: none;
   

}
 #section-footer{
    padding-bottom: 20px;
        font-size: 22px;

 }
.section-footer a{
    color: white;
    text-decoration: none;
     font-size: 15px;
}
.section-footer a:hover{
    color: #fac710;
    transition: 0.4s;
 }


@media screen and (min-width:426px) and (max-width:768px) {

   

.section-two{
    display: grid;
    grid-template-columns: auto;
    height: 700px;
    margin-top: 100px;
}
    .section-two-partone{
justify-content: left;
   margin: auto;
    
    
}
.section-two-partone p{
 width:420px;
    height:200px;
        font-size: 19px;
  
margin-left: 10px;
    
}
.section-two-partone .image img{
    margin-left: 10px;
     margin-right: 10px;
width:250px;
height:220px;
}
.section-two-parttwo{
   justify-content: left;
   margin: auto;
}
.section-two-parttwo p{
    width:420px;
      height:200px;
      font-size: 20px;
                font-weight: bold;

}
.section-two-parttwo img{
    width:250px;
      height:220px;
      margin-left: 10px;
}


    


.section-four {
   
    height:600px;
    display: grid;
    grid-template-columns: auto auto ;
    color: white;
    justify-content:space-around;
  
}
.left-side-footer{
  grid-column: 1/3;
      padding-top: 70px;

    color: #fac710;
  font-size: 18px;
  text-align: center;
  /* padding-top: 70px; */
  

}
}
@media screen and (max-width:426px){



.section-two{
    display: grid;
    grid-template-columns: auto;
    height: 1400px;
    margin-top: 100px;
   gap: 200px;
   justify-content: center;
}
    .section-two-partone{


        display: block;
    
}
.section-two-partone p{
    width:310px;
    height:200px;
        font-size: 19px;
  
/* margin-bottom: 20px;     */
}
.section-two-partone .image img{
   margin-bottom: 30px;
width:310px;
height:220px;
}
.section-two-parttwo{
    display: block;
    
}
.section-two-parttwo p{
    width:310px;
      height:220px;
      font-size: 20px;
                font-weight: bold;
                margin-bottom: 220px;

}
.section-two-parttwo img{
    width:310px;
      height:220px;
     margin-bottom: 20px;

}
.section-four {
   
    height:600px;
    display: grid;
    grid-template-columns: auto auto ;
    color: white;
    justify-content:space-around;
  
}
.left-side-footer{
  grid-column: 1/3;
      padding-top: 70px;

    color: #fac710;
  font-size: 18px;
  text-align: center;
  /* padding-top: 70px; */
  

}

}